@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-family: "Poppins";
}

.navbar-avs {
  background-color: white;
  padding: 1em;
}
.navbar-avs .logo-avs {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}
.navbar-avs .logo-avs span {
  color: var(--primary-color);
}
.navbar-avs nav {
  display: none;
}
.navbar-avs .container-avs {
  display: flex;
  place-content: space-between;
}
.navbar-avs .mobile-menu-avs {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero-avs {
  text-align: center;
}

.left-col-avs .subhead-avs {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.2em;
}
.left-col-avs h1 {
  font-size: 2.5rem;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.left-col-avs .primary-cta-avs {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
.left-col-avs .watch-video-cta-avs {
  display: block;
  margin-top: 1em;
}
.left-col-avs .watch-video-cta-avs img {
  margin-right: 0.5em;
}

.hero-img-avs {
  width: 70%;
  margin-top: 3em;
}

section.features-section-avs {
  background-color: #20272e;
  color: white;
}

ul.features-list-avs {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
ul.features-list-avs li {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-left: 2em;
  position: relative;
}
ul.features-list-avs li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.features-section-avs img {
  display: none;
}

.testimonials-section-avs {
  background-color: var(--primary-color);
  color: white;
}
.testimonials-section-avs li {
  background-color: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
.testimonials-section-avs li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
  margin-top: -4.5em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn-avs {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav-avs {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  font-weight: unset !important;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit-avs {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-avs, .mobile-menu-exit-avs {
    display: none;
  }
  .navbar-avs .container-avs {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar-avs nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar-avs nav ul {
    display: flex;
  }
  .navbar-avs nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar-avs nav .primary-nav-avs {
    margin: 0;
  }
  .navbar-avs nav .active-avs {
    font-weight: bold;
  }
  .navbar-avs nav .go-premium-cta-avs a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar-avs nav .go-premium-cta-avs a:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container-avs {
    max-width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero-avs .container-avs {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .hero-avs .container-avs .left-col-avs {
    margin: 3em 3em 0 5em;
  }
  .hero-avs .container-avs .left-col-avs h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img-avs {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta-avs {
    display: flex;
  }
  .primary-cta-avs {
    margin-right: 1em;
  }
  ul.features-list-avs {
    display: block;
    margin-left: 5em;
  }
  ul.features-list-avs li {
    font-size: 1.4em;
  }
  ul.features-list-avs li:before {
    width: 30px;
    height: 30px;
  }
  .features-section-avs {
    position: relative;
  }
  .features-section-avs img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section-avs ul {
    display: flex;
  }
  .testimonials-section-avs ul li {
    margin: 0 1em;
  }
  .contact-section-avs {
    position: relative;
  }
  .contact-section-avs .container-avs {
    display: flex;
  }
  .contact-right-avs {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right-avs iframe {
    height: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .features-section-avs:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background-color: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section-avs:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}/*# sourceMappingURL=main.avs.css.map */